<aside class="sidebar">
    <div class="logo"><img src="images/logo_sidebar.png" alt=""></div>
    <hr>
    <nav>
        <ul>
            <li class="single-menu-element">
                <a href="#/" class="single-menu-element-link">
                    Home
                </a>
            </li>
            <li class="single-menu-element">
                <a href="#/login" class="single-menu-element-link">
                    Login
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/register" class="single-menu-element-link">
                    Register
                </a>
            </li>
            <hr>
            <li class="single-menu-element">
                <a href="#/about-us" class="single-menu-element-link">
                    About Us
                </a>
            </li>
        </ul>
        <hr>
    </nav>
</aside>
<header class="blog-title">
    us
</header>

<div class="about-us-photos-div">
    <form >
        <h1 class="about-us-photos">Martin Velikov</h1>
        <img class="about-us-photos" src="images/martin_velikov.jpg"/>
        <h2 class="about-us-photos-text">some textsome textsome textsome textsome textsome text
            some textsome textsome textsome textsome textsome text
            some textsome textsome textsome textsome textsome text
            some textsome textsome textsome textsome textsome text
            some textsome textsome textsome textsome textsome text</h2>
    </form>
</div>
<div class="about-us-photos-div">
    <form>
        <h1 class="about-us-photos">Stanislav Stoyanov</h1>
        <img class="about-us-photos" src="images/stanislav_stoyanov.jpg"/>
        <h2 class="about-us-photos-text">some textsome textsome textsome textsome textsome text
            some textsome textsome textsome textsome textsome text
            some textsome textsome textsome textsome textsome text
            some textsome textsome textsome textsome textsome text
            some textsome textsome textsome textsome textsome text</h2>
    </form>
</div>
<footer>
    <p class="footer-text">&copy; Software University Foundation, No Rights Reserved</p>
</footer>