<header class="blog-title">
    us
</header>
<div class="about-us-photos">
    <img class="about-us-photos-img" src="images/stanislav_stoyanov.jpg" alt="Stanislav Stoyanov Photo" />
    <h2 class="about-us-photos-h2"><span class="about-us-photos-span">Stanislav Stoyanov<br />Kung Fu Panda</span></h2>
</div>
<br/>
<div class="about-us-photos">
    <img class="about-us-photos-img" src="images/martin_velikov.jpg" alt="Martin Velikov Photo" />
    <h2 class="about-us-photos-h2"><span class="about-us-photos-span">Martin Velikov<br />Dancing star</span></h2>
</div>
<br/>
<div class="about-us-photos" >
    <img class="about-us-photos-img" src="images/pikachu.png" alt="Pikachu Photo" />
    <h2 class="about-us-photos-h2"><span class="about-us-photos-span">Pikachu<br />Lightning god</span></h2>
</div>
<br/><br/>
<footer>
    <p class="footer-text">&copy; Software University Foundation, No Rights Reserved</p>
</footer>