<!--<div class="new-post-block">-->
    <!--<h2 id="editor-title">new comment</h2>-->
    <!--<form id="post-form">-->
        <!--<ul class="title-author">-->
            <!--<li class="single-element-form">-->
                <!--<h1 class="title-form">Comment Title:</h1>-->
                <!--<input type="text" value="{{ title }}" placeholder="Title" id="title" disabled>-->
            <!--</li>-->
            <!--<li class="single-element-form">-->
                <!--<h1 class="title-form">Author:</h1>-->
                <!--<input type="text" value="{{ fullname }}{{ author }}" placeholder="Author" id="author" disabled>-->
            <!--</li>-->
        <!--</ul>-->
        <!--&lt;!&ndash;<h1 class="title-form">Content:</h1>&ndash;&gt;-->
        <!--&lt;!&ndash;<textarea class="content-field" placeholder="Content" id="content" disabled>{{ content }}</textarea>&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--<h2 class="title-form">Comments:</h2>-->
        <!--<textarea class="content-field" placeholder="Comments" id="comments">{{ comments }}</textarea>-->
        <!--<br>-->
        <!--<button type="button" id="create-new-comment-request-button">Publish</button>-->
    <!--</form>-->
<!--</div>-->

<!--<footer>-->
    <!--<p class="footer-text">&copy; Software University Foundation, No Rights Reserved</p>-->
<!--</footer>-->