{{#blogPosts}}
<li class="single-post">
    <article id="post-{{postId}}">
        <div class="dot">&nbsp;</div>
        <h3 class="title">{{title}}</h3>
        <p class="subtitle">Posted on {{date}} by {{author}}</p>
        <p class="content">{{content}}</p>
        <br/>
        {{#modified}}
        Edit on {{modified}}
        {{/modified}}
        <a class="delete-button" href="#/posts/delete-{{_id}}" >X</a>
        <a class="edit-button" href="#/posts/edit-{{_id}}" >edit</a>
        <a class="comment-button" href="#/posts/view-{{_id}}">show comments</a>
    </article>
</li>
{{/blogPosts}}