a {
    text-decoration: none;
    color: #565656;
}

.dot {
    margin-top: 13px;
    margin-right: 10px;
    float: left;
    width: 20px;
    border-radius: 40px;
    background-color: indigo;
}

.title {
    font: 32px Oswald;
    font-weight: 600;
}

.subtitle {
    font: 16px Lato;
    font-weight: 100;
    margin-left: 3%;
}

.content {
    padding-top: 2.5%;
    font: 16px Lato;
    font-weight: 500;
    width: 80%;
    margin-left: 3%;
    word-wrap: break-word;
}

.articles {
    margin-left: 5%;
}

.single-post {
    margin-bottom: 5%;
}
.main-content{
    background-color: #f2f2f2;
}
.about-us-photos-sla{
    position: relative;
    margin-right: 2%;
    float: left;
    margin-left: 25%;
    border-radius: 10px;
    background-color: darkgray;
    border: none;
    color: black;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}
.about-us-photos-mar{
    position: relative;
    margin-right: 2%;
    float: left;
    margin-left: 25%;
    border-radius: 10px;
    background-color: darkgray;
    border: none;
    color: black;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}
.about-us-photos-text{
    z-index: 100;
    position: absolute;
    color: black;
    font-size: 24px;
    font-weight: bold;
    left: 150px;
    top: 350px;
}