a {
    text-decoration: none;
    color: #565656;
}

.dot {
    margin-top: 13px;
    margin-right: 10px;
    float: left;
    width: 20px;
    border-radius: 40px;
    background-color: indigo;
}

.title {
    font: 32px Oswald;
    font-weight: 600;
}

.subtitle {
    font: 16px Lato;
    font-weight: 100;
    margin-left: 3%;
}

.content {
    padding-top: 2.5%;
    font: 16px Lato;
    font-weight: 500;
    width: 80%;
    margin-left: 3%;
    word-wrap: break-word;
}

.articles {
    margin-left: 5%;
}

.single-post {
    margin-bottom: 5%;
}
.main-content{
    background-color: #f2f2f2;
}
.about-us-photos{
    text-align: center;
    position: relative;
}
.about-us-photos-h2{
    position: absolute;
    top: 200px;
    width: 100%;
}
.about-us-photos-span {
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding:0 5px;

}
.about-us-photos-img {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    hight: 300px;
    min-height: 300px;
    max-height: 300px;

}