.new-post-title {
    width: 250px;
}

.new-post-block {
    background: #dadada;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;

}

#editor-title {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font: 24px Lato-Black;
    text-align: center;
}

#post-form {
    background: #f2f2f2;
    border-radius: 20px;
    margin: 10px;
}

.single-element-form {
    display: inline-block;
    width: 40%;
    padding-top: 10px;
}

.content-field {
    resize: none;
    border: 3px solid #f2f2f2;
    outline: none;
    width: 90%;
    height: 150px;
    border-radius: 15px;
    text-align: left;
    font: 12px Lato-Light;
    padding: 10px;
}

.content-field:focus {
    font: 12px Lato;
    font-weight: 100;
    outline: none;
    border: 3px solid #06c0ab;
}
.delete-button{
    position: relative;
    margin-right: 15%;
    float: right;
    border-radius: 10px 20px;
    background-color: red;
    border: none;
    color: white;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.edit-button{
    position: relative;
    margin-right: 2%;
    float: right;
    border-radius: 10px 20px;
    background-color: darkgray;
    border: none;
    color: white;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.comment-button{
    position: relative;
    margin-right: 2%;
    float: right;
    border-radius: 10px 20px;
    background-color: #ff80d4;
    border: none;
    color: white;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
